:host {
  display: block;
}

ion-accordion-group {
  width: 90vw !important;

  ion-accordion {
    margin-top: 10px;

    ion-item::part(item-native) {
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 7px;
    }
  }
}

.content {
}